$color-primary: #58B4d1; 
$color-primary-light: #73bfdc; 
$color-primary-light-2: #8ecae6;

$color-primary-dark: #219ebc; 
$color-primary-dark-2: #126782;
$color-primary-dark-3: #023047; 

$color-secondary: #ffb703; 
$color-secondary-dark: #fd9e02; 
$color-secondary-dark-2: #fb9017;
$color-secondary-bold: #fd8500;

$color-white: #ebebeb; 
$color-black: #0e1111; 

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray: #777;
$color-gray-dark-1: #999;
$color-gray-dark-2: #333;