.demo{
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 6vw);
    gap: 1.5rem;
    justify-items: center;
    align-items: center;

    &__header{
        grid-column: 1 / span 2 ;
    }

    &__description{
        grid-column: 1 / span 2;
        grid-row: 1 / -1;
        height: 82vh;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        
        justify-items: center;
        align-items: center;

        .text {
            font-weight: 600;
            font-size: 1.4rem;


            &--1{
                grid-row: 2 / 3;
                grid-column: 1 / span 2;
            }

            &--2{
                grid-row: 3 / 4;
                grid-column: 1 / span 2;
            }

            &--3{
                grid-row: 4 / 5;
                grid-column: 1 / span 2;
            }
        }
    }

    &__box{
        background-color: $color-gray-light-2;
        height: 30rem;
        width: 50rem;
        grid-column: 4 / span 4;
        grid-row: 1 / span 4;
    }

    &__btn{
        grid-column: 5 / span 2;
        grid-row: 6 / 7;
    }

}