.features {
    padding: 5rem; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
    justify-content: center;

    &__card{
        height: 30vh;
        display: grid; 
        gap: 2rem;
        justify-items: center;
        align-items: center;
    }

    &__icon{
        height: 4.25rem;
        width: 4.25rem;
    }

    &__text{
        font-size: 1.75rem;
        color: $color-gray-dark-2;
    }
}