.features {
    padding: 5rem; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 4rem;
    justify-content: center;

    &__card{
        height: 30vh;
        display: grid; 
        justify-items: center;
        align-items: center;
    }

    &__icon{
        height: 4.25rem;
        width: 4.25rem;
    }

    &__text{

    }
}