.cards {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    flex: 0 1 22%;
    transform-style:preserve-3d;
    height: 30rem;
    margin-top: 3rem;
    
    &__heading {
        @include absCenter
    }
    
    &__side {
        height: inherit;
        transition: all .8s ease;
        position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    

        &--front {
            background-image: linear-gradient(to left bottom, 
                                    rgba($color-primary-light-2, 0.8), 
                                    rgba($color-primary-dark, 0.8));
        }

        &--back {
            background-color: $color-whiter; 
            transform: rotateY(180deg);
            // display: flex; 
            // flex-direction: column;
        }

        &--details {
            list-style: none;
        }

        &--li {
           font-size: 1.25rem;
           font-weight: 700;
           
           &:not(:last-child) {
            margin-bottom: 1rem;
        }
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg); 
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}