.habits-card {
    
        display: flex; 
        justify-content: space-around;
        align-items: center;
        background: $color-whiter; 
        width: 60rem;
        height: 6.45rem; 
        box-shadow: 0 1rem 2rem rgba($color-black, .30);
        border-radius: 2px;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        &__title {
            flex: 0 0 20%; 
        }
    
        &__progress-form {
            flex: 0 0 45%; 
        }

}