.sidebar{
    flex: 0 0 auto;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right bottom, 
                                    rgba($color-primary, 0.8), 
                                    rgba($color-primary-dark-3, 0.8));
    padding: 1rem; 
    
    

    &--goals {
        color: $color-gray-light-2;
        
    }
}